{
  "extends": "lifion",
  "overrides": [
    {
      "files": ["lib/records.js", "lib/fan-out-consumer.js"],
      "rules": {
        "no-underscore-dangle": [
          "warn",
          {
            "allow": ["_transform", "_write"],
            "allowAfterSuper": false,
            "allowAfterThis": false,
            "enforceInMethodNames": true
          }
        ]
      }
    },
    {
      "files": ["lib/fan-out-consumer.js"],
      "rules": {
        "max-classes-per-file": ["error", 3]
      }
    },
    {
      "files": ["*.ts"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "rules": {
        "prettier/prettier": "warn",
        "node/no-unsupported-features/es-syntax": "off",
        "@typescript-eslint/no-explicit-any": "off"
        
      }
    }
  ]
}
